*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body   {
    background: linear-gradient(#082557, #27043b);
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: cover;
}

.container {
    margin: auto;
    margin-top: 200px;
    margin-bottom: 300px;
    width: 90%;
    max-width: 700px;
}
.display {
    max-width: 85%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:  26px 20px;
    border-radius: 20px;
}
.container h1{
    font-weight: 500;
    font-size: 40px;
}
.container h1 span {
    font-size: 35px;
    color: #63ba1c;

}
.line {
    width: 200px;
    height: 3px;
    background-color: #63ba1c;
    margin-left: 55px;
    margin-top: 10px;
    border-radius: 2px;
}
.display img{
    width: 30px;
    cursor: pointer;
}
.display input {
    border: 0;
    outline: 0;
    font-size: 22px;
    width: 220px;
}
.container button img{
    width: 25px;
    margin-right: 10px;
}
.container button{
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;


}